
/* From https://www.youtube.com/watch?v=-k-PgvbktX4
   and https://codepen.io/Web_Cifar/pen/jOqBEjE
*/



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  font-size: 20px;
  height: 100%;

}

body{
    height: 100%;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: rgb(37, 37, 37);
  flex-direction: column;
  padding: 50px 0;
  height: 100%;
}

.left-part{
    width: 66%;
    height: 100%;
    display: flex;
}

section h1 {
  color: rgba(255, 255, 255, 0.322);
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 10px;
}

section p {
  text-align: center;
  color: rgba(255, 255, 255, 0.322);
  width: 100%;
  margin-bottom: 40px;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.texts p {
  color: black;
  text-align: left;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.texts p.replay {
  text-align: right;
}

body{
  display: flex;
  flex-direction: row;
}

.chat-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  background-color: rgb(36, 36, 36);
  height: 100%;
}

.chat-form{
    width: 100%;
}

#chat-input{
    width: 65%;
    height: 35px;
    border-radius: 12px;
    margin-left: 5px;
}

#chat-input:focus{
    outline: none;
    box-shadow: 0 0 5px #719ECE;
    border: 1px solid #719ECE;
}

#chat-input:hover{
    border: 1px solid #555555;
}

#chat-submit{
    width: 18%;
    height: 30px;
    border-radius: 8px;
}

#chat-submit:hover{
    background-color: #292828;
    color: rgb(248, 248, 248);
    cursor: pointer;
}

#chat-voice{
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

#chat-voice:hover{
    cursor: pointer;
    scale: 0.8;
}

#map { 
    width: 70%;
    height: 70%;
    
}

.chat-text{
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

.output{
    color: white !important;
    text-align:justify;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-height: 400px; /* hauteur maximale souhaitée */ 
    overflow-y: auto; /* affiche une barre de défilement verticale si le contenu dépasse */
}

.message{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex: 1 0 auto;
    color: black;
    width: auto;
}

.agent{
    align-self: flex-start;
}

.user{
    align-self: flex-end;
}



/*style du plateau de jeu */

#plateau table {
      border-collapse: 0px;
      margin:center;
      height: 90%;

}


.board_arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;

    margin-left:50px;
}
.box {
    height: 70%;
    background-color: white;
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    display: flex;
    align-items: center;
    min-height: 500px;
    max-height: 550px;
    position: relative;
    top: 10%;
}


.case {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: lightgreen;
      border: 2px solid #333;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.lutin {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #333;
      
}

/* Pont horizontal — ligne fine centrée*/
.pont-h {
    width: 50px;
    height: 12px;
    background: white;

}

/* Pont vertical — ligne fine centrée */
.pont-v {
    width: 16px;
    height: 40px;
    background: white;
}

/*les cases transparent  pour representer le vide */
.coin {
      width: 20px;
      height: 20px;
      background-color: transparent;
}

.lutin:hover {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    scale: 1.4;
}

.vert  { background-color: #2ecc71; }
.rouge { background-color: #e74c3c; }
.bleu  { background-color: #3498db; }
.jaune { background-color: #f1c40f; }

.pont-hadded {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        transparent 40%,
        brown 40% 60%,
        transparent 60%
    );
}

.pont-vadded {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        transparent 40%,
        brown 40% 60%,
        transparent 60%
    );
}


/*section pour les directions (arrows up/down/left/right)   */
#arrow-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -5px;
}

.arrow {
    width: 50px;
    height: 50px;
    background: grey;
    color: white;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin:5px;
}

.arrow:hover{
    background: red;

}
